form, h2, h3 {
    margin: 0 auto;
    width: 75%;
}

h3 {
    margin-top: 2rem;
}

form {
    label, button, input {
        display: block;
    }

    label {
        margin: 1rem 0;
    }
    input, button {
        margin-top: .5rem;

        padding: .33rem .5rem;
        width: 100%;
    }
    button {
        margin-top: 1rem;
        padding: .5rem 0;
    }
}

.error {
    white-space: pre-wrap;
}