/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

body {
    margin: 0;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-color: $bg_dark;
    color: $text_light;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: underline;
    color: $link;
    transition: all .1s;
}
a:hover {
    color: $link_hover;
}

button {
    background-color: transparent;
    color: $text_light;
    border: 2px solid $link;
    border-radius: 10px;
    transition: all .1s;
    cursor: pointer;
}
button:hover {
    border-color: $link_hover;
}
