/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

body {
    margin: 0;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-color: $bg_dark;
    color: $text_light;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    background-color: transparent;
    color: $text_light;
    border: 2px solid $text_light;
    border-radius: 10px;
}
