/* Variables and mixins declared here will be available in all other SCSS files */

$text_light: whitesmoke;
$bg_dark: #181a1b;

$link: darkorchid;
$link_hover: lighten($link, 15%);
// $link_hover: orchid;
// $links: darkcyan;