/* Variables and mixins declared here will be available in all other SCSS files */

// for media breakpoints
$base_font_size: 20px;
$nav_font_size: 25px;
// $nav_icon_font_size: 30px;
// $breakpoints: (
//     small: 576px,
//     medium: 768px,
//     large: 992px,
//     x-large: 1200px
// );
$breakpoints: (
  small: 36rem,
  medium: 48rem,
  large: 62rem,
  x-large: 75rem
);
@mixin breakpoint($point) {
    @if map-has-key($breakpoints, $point) {
        // $breakpoint_value: map-get($breakpoints, $point) * $base_font_size;
        $breakpoint_value: map-get($breakpoints, $point);

        @media (min-width: $breakpoint_value) {
            @content;
        }
    } @else {
        @error "Invalid breakpoint: #{$point}.";
    }
}

/* SCSS HEX */
// $light-yellow: #f8ffe5ff;
// $emerald: #06d6a0ff;
// $blue-munsell: #1b9aaaff;
// $bright-pink-crayola: #ef476fff;
// $amber: #ffc43dff;
// $background: $light-yellow;
// $text: #181a1b;
// $link: $bright-pink-crayola;

$gunmetal: #2d3a3aff;
$cobalt-blue: #1446a0ff;
$razzmatazz: #db3069ff;
$naples-yellow: #f5d547ff;
$ivory: #F6F7EB;
$onyx: #3c3c3bff;
$dark-blue: #14213D;

$background: #181a1b;
$main_background: #272727;//$gunmetal;//#333533;
// $main_background: $onyx;
$alt_background: darken($main_background, 14%);
$text: #E5E5E5;
$darker_text: darken($text, 10%);
$alt_text: $naples-yellow;

$link: $razzmatazz;
$link_hover: $naples-yellow;

// $text: whitesmoke;
// $background: #181a1b;

// $link: darkorchid;
// $link_hover: lighten($link, 15%);